@using AnimalStudio.Web.ViewModels
@model IEnumerable<AnimalStudio.Web.ViewModels.WorkerViewModel>
@{
	ViewData["Title"] = "Worker List";
}

<div class="text-center">
	<h3>Списък на служителите</h3>
	<p>@* @ViewData["Title"] *@</p>

</div>

<table style="background-color:aquamarine">
	<tr>
		<th class="text-center">Id</th>
		<th class="text-center">Име</th>
	</tr>

	@foreach (WorkerViewModel student in Model)
	{
		<tr>
			<td>@student.Id</td>
			<td>@student.Name</td>
		</tr>
	}
</table>