@using Microsoft.AspNetCore.Mvc.TagHelpers
@using AnimalStudio.Web.ViewModels.AnimalType
@model AnimalTypeViewModel

@{
    ViewData["Title"] = "Edit AnimalType";
}
<h2 class="text-center">@ViewBag.Title</h2>
<hr />

<div class="row">
    <div class="col-sm-12 offset-lg-2 col-lg-8 offset-xl-3 col-xl-6">
        <form asp-action="EditAnimalType" method="post">
            <div class="form-group">
                <label asp-for="@Model.AnimalTypeInfo" class="form-label-add-edit">AnimalType Info</label>
                <input asp-for="@Model.AnimalTypeInfo" class="form-control" aria-required="true" />
                <span asp-validation-for="@Model.AnimalTypeInfo" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <input class="btn btn-warning btn-dark-text mb-2 w-100 py-3 fw-bold rounded" type="submit" value="Save" />
            </div>
        </form>
    </div>
</div>


<div class="row">
    <div class="col-sm-12 offset-lg-2 col-lg-8 offset-xl-3 col-xl-6">
        <a asp-controller="AnimalType" asp-action="Index" class="btn btn-warning btn-dark-text mb-2 w-100 py-3 fw-bold rounded">Back</a>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}